In [1]:
import requests
import pandas as pd

C:\Users\USER\AppData\Local\Temp\ipykernel_1100\222825045.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:
# Create an empty dataframe to store the data
df = pd.DataFrame()

# Define the URL, headers, and query parameters
url = "https://job-salary-data.p.rapidapi.com/job-salary"

querystring = {"job_title":"nodejs developer","location":"new york, usa","radius":"200"}

headers = {
	"X-RapidAPI-Key": "825660eedamsh069fa68cdb73a73p11580ajsn4fd6a4e42e3c",
	"X-RapidAPI-Host": "job-salary-data.p.rapidapi.com"
}
# Run the code 1000 times
for _ in range(1000):
    try:
        # Send the GET request
        response = requests.get(url, headers=headers, params=querystring)

        
        # Append the response data to the dataframe
        df = df.append(response.json(), ignore_index=True)
    except Exception as error:
        print(error)

# Print the dataframe
print(df)

In [3]:
# Save the dataframe to a CSV file

df.to_csv("job_salary.csv", index=False)

In [4]:
# Convert the dataframe to a excel file

df.to_excel("job_salary.xlsx", index=False)

In [12]:
df.to_excel("jobs.xlsx", index=False)

In [7]:
df.head(10)

Empty DataFrame
Columns: []
Index: []

In [10]:
# Ver Filas con 2 o mas filas vacias

df[df.isnull().sum(axis=1) >= 2]

,id,publishedAt,salary,title,jobUrl,companyName,companyUrl,location,postedTime,applicationsCount,...,workType,sector,companyId,posterProfileUrl,posterFullName,error,message,statusCode,info,messages
0,3832127766,2024-02-16,,Junior Software Developer at energy efficiency...,https://de.linkedin.com/jobs/view/junior-softw...,perto,https://de.linkedin.com/company/perto-gmbh?trk...,"Berlin, Berlin, Germany",1 month ago,88 applicants,...,Information Technology,Oil and Gas,27218359,,,NaN,NaN,NaN,NaN,NaN
1,3832179908,2024-02-16,,Full-stack Engineer,https://de.linkedin.com/jobs/view/full-stack-e...,Deed,https://www.linkedin.com/company/joindeed?trk=...,"Berlin, Berlin, Germany",1 month ago,153 applicants,...,Information Technology,Administrative and Support Services,10424922,,,NaN,NaN,NaN,NaN,NaN
2,3834271311,2024-01-31,,e,,,,,,,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3840110677,2024-03-01,,Full Stack Engineer - JavaScript (f/m/d),https://de.linkedin.com/jobs/view/full-stack-e...,CHARACTERS CONNECTION LTD,https://cy.linkedin.com/company/charactersconn...,Berlin Metropolitan Area,1 month ago,36 applicants,...,Engineering and Information Technology,Staffing and Recruiting,6379382,,,NaN,NaN,NaN,NaN,NaN
4,3853056869,2024-03-12,,Software Developer (all genders),https://de.linkedin.com/jobs/view/software-dev...,Kertos,https://de.linkedin.com/company/kertos-privacy...,"Berlin, Berlin, Germany",4 weeks ago,Be among the first 25 applicants,...,Information Technology,Software Development,79858930,,,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,You have exceeded the MONTHLY quota for Reques...,NaN,NaN,NaN
1550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,You have exceeded the MONTHLY quota for Reques...,NaN,NaN,NaN
1551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,You have exceeded the MONTHLY quota for Reques...,NaN,NaN,NaN
1552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,You have exceeded the MONTHLY quota for Reques...,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,You have exceeded the MONTHLY quota for Reques...,NaN,NaN,NaN